@import "~bootstrap/dist/css/bootstrap.css";

.outer{
    background-image: url(https://patientengagementhit.com/images/site/article_headers/_normal/Getty_Images_Appointment_Schedule.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.inner{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    width: 50%;
    padding: 100px 50px;
    text-align: center;
    
}
.btn{
    border-radius: 0.3rem;
}
a {
    text-decoration: none;
}
.table td, .table th {
    padding: 10px;
}